@import url("bootstrap.css");
@import url("capd-gov-standards.css");
@import url("gov-uk-header-and-footer.css");
@import url("capd-phase.css");
@import url("gov-uk-font.css");


a:focus
{
	outline:3px solid #ffbf47;
}

.capd-inner-pad
{
	margin:20px 20px;	
}

.visually-hidden
{
	visibility:hidden;	
}

.clear
{
	clear:both;
}

h1 span
{
	display:block;
	font-size:0.5em;
	font-weight:normal;
	color:#6f777b;
}

h1 span a
{
	float:right;
	font-size:16px !important;
}

h2
{
	margin:2em 0;
	font-size:2em;	
}

dl
{
	margin:20px 0;	
}

dt
{
	width:15em;
	float:left;	
}

dd
{
	clear:right;
	display:block !important;	
}

.header .btn
{
	margin-top:40px;
}

/* media queries fixes  start*/
@media (min-width: 1200px) {
.container-fluid
{
	max-width: 100%;
}
}

@media (min-width: 992px){
.container-fluid
{
	max-width: 100%;
}
}
/*media queries fixes end */

/* capd-business-list start */
#capd-business-list .capd-btn
{
	float:right;	
}
/* capd-business-list end */

/* capd-entitlements start*/

#capd-entitlements .row
{
	margin-top:40px;
}

#capd-entitlements .btn
{
	margin-bottom:20px;
	margin-top:20px;
}

#capd-entitlements table
{
	margin-top:20px;
}

/* capd-entitlements end*/

